* {
    font-family: Arial;
}

html {
    width: 1024px;
    position: relative;
    margin: auto;
    background: chocolate;
    border: 3px solid black;
}

header {
    position: relative;
    top: 0;
    height: 100px;
    width: 993px;
    display: flex;
    justify-content: flex-start;
    border: 3px solid black;
    background: lightcoral;
}


.main_header {
    position: relative;
    bottom: 0;
    height: auto;
    top: 0;
    left: 0;
    padding: 20px;
    margin: 0px;
    text-align: center;
    border: 3px solid black;
    background: lightseagreen;
}

.linkcontainer {
    position: relative;
    width: 200;
}

ul {
    list-style-type: none;
}

ul.links {
    position: relative;
    bottom: 0;
    display: flex;
    row-gap: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin: 0px;
    border: 3px solid black;
}

.menu {
    padding-right: 98px;
}

.page {
    position: relative;
    right: 0;
    background: lime;
    text-align: center;
    padding: 40px;
    margin-left: 30px;
    border: 3px solid black;
}

#subtext {
    padding: 40px;
}

#article1 {
    position: absolute;
    top: 44%;
    width: 30%;
    margin-right: 0;
}

#article2 {
    position: relative;
    left: 35%;
    right: 25%;
    width: 40%;
    margin: 0;
    padding: 0;
}

aside {
    position: absolute;
    right: 0;
    top: 25%;
    background: lime;
    border: 3px solid black;
}

.subheader {
    text-align: center;
}

form {
    position: relative;
    text-align: center;
}

